<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body>
        <%- include('../partials/header', {loggedin : log }) %>
        <h1>about</h1>
    </body>
</html>