<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="container">
            <h3>Connexion</h3>
            <form action="" method="post">
                <input class="form-control" type="text" name="user" placeholder="Nom d'utilisateur">
                <input class="form-control" type="text" name="mdp" placeholder="Mot de Passe">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div> 
    </body>
</html>