<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body>
        <%- include('../partials/header', {loggedin : log }) %>
        <%-log %> 
        
    </body>
</html>