<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body>
        <%- include('../partials/header', {loggedin : log }) %>
        <div class="container body-content">
            <form action="" method="post">
                <div class="container">
                    <div class="row justify-content-start" style="padding-top:10px;">
                        <h1>Inscription</h1>
                    </div>
        
                    <div class="row needs-validation justify-content-start" style="padding-top:10px;">
        
                        <div class="col-12 col-lg-6" style="padding-top:10px;">
                            <label>Pseudo</label>
                            <input class="form-control" id="Pseudo" type="text" name="Username" required></input>
                        </div>
                        <div class="col-12 col-lg-6" style="padding-top:10px;">
                            <label>Mail</label>
                            <input class="form-control" type="email" name="Mail" aria-describedby="emailHelp" required></input>
                        </div>
                    </div>    
        
                    
                        
                    <div class="row needs-validation justify-content-start" style="padding-top:10px;">
        
                        <div class="col-12 col-lg-6" style="padding-top:10px;">
                            <label>Password</label>
                            <input class="form-control" type="password" name="Password" required></input>
                        </div>
                        <div class="col-12 col-lg-6" style="padding-top:10px;">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password" name="ConfirmPassword" required></input>
                        </div>
                    </div>
        
                    
        
                    <button class="mt-3 btn btn-primary" type="submit">Envoyer</button>
        
        
                </div>                 
            </form>
    
    
        </div>
    </body>
</html>